<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.openvidu.server.common.dao.ConferenceMapper" >
  <resultMap id="BaseResultMap" type="io.openvidu.server.common.pojo.Conference" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ruid" property="ruid" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="conference_subject" property="conferenceSubject" jdbcType="VARCHAR" />
    <result column="conference_desc" property="conferenceDesc" jdbcType="VARCHAR" />
    <result column="conference_mode" property="conferenceMode" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="room_capacity" property="roomCapacity" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="invite_limit" property="inviteLimit" jdbcType="TINYINT" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ruid, room_id, conference_subject, conference_desc, conference_mode, user_id, start_time, end_time, room_capacity,
    status, password, invite_limit, create_time, update_time
  </sql>
  <select id="selectBySearchCondition" resultMap="BaseResultMap" parameterType="io.openvidu.server.common.pojo.ConferenceSearch">
      select
      <include refid="Base_Column_List" />
      from sd_conference
      where
      <if test="roomId != null">
          room_id = #{roomId,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
          and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="project != null">
          and project = #{project,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="selectUnclosedConference" resultMap="BaseResultMap" parameterType="io.openvidu.server.common.pojo.Conference">
    select
    <include refid="Base_Column_List" />
    from sd_conference
    where
    <if test="userId != null" >
      user_id = #{userId,jdbcType=BIGINT} and
    </if>
    <if test="status != null">
      status = #{status,jdbcType=TINYINT}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sd_conference
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sd_conference
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.openvidu.server.common.pojo.Conference" >
    insert into sd_conference (id, ruid, room_id, conference_subject, conference_desc, conference_mode, user_id, start_time,
      end_time, status, password, project
      )
    values (#{id,jdbcType=BIGINT}, #{ruid,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, #{conferenceSubject,jdbcType=VARCHAR},
      #{conferenceDesc,jdbcType=VARCHAR}, #{conferenceMode,jdbcType=TINYINT}, #{userId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{project,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.openvidu.server.common.pojo.Conference" >
    insert into sd_conference
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ruid != null" >
        ruid,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="subject != null" >
        conference_subject,
      </if>
      <if test="desc != null" >
        conference_desc,
      </if>
      <if test="conferenceMode != null" >
        conference_mode,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="roomCapacity != null" >
        room_capacity,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="inviteLimit != null" >
        invite_limit,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruid != null" >
        #{ruid,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="conferenceSubject != null" >
        #{conferenceSubject,jdbcType=VARCHAR},
      </if>
      <if test="conferenceDesc != null" >
        #{conferenceDesc,jdbcType=VARCHAR},
      </if>
      <if test="conferenceMode != null" >
        #{conferenceMode,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomCapacity != null" >
        #{roomCapacity,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="inviteLimit != null" >
        #{inviteLimit,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.openvidu.server.common.pojo.Conference" >
    update sd_conference
    <set >
      <if test="ruid != null" >
        ruid = #{ruid,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        conference_subject = #{conferenceSubject,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        conference_desc = #{conferenceDesc,jdbcType=VARCHAR},
      </if>
      <if test="conferenceMode != null" >
        conference_mode = #{conferenceMode,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomCapacity != null" >
        room_capacity = #{roomCapacity,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="inviteLimit != null" >
        invite_limit = #{inviteLimit,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.openvidu.server.common.pojo.Conference" >
    update sd_conference
    set ruid = #{ruid,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=VARCHAR},
      conference_subject = #{conferenceSubject,jdbcType=VARCHAR},
      conference_desc = #{conferenceDesc,jdbcType=VARCHAR},
      conference_mode = #{conferenceMode,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      room_capacity = #{roomCapacity,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      invite_limit = #{inviteLimit,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>