<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.openvidu.server.common.dao.CorpMcuConfigMapper" >
  <resultMap id="BaseResultMap" type="io.openvidu.server.common.pojo.CorpMcuConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resolution" property="resolution" jdbcType="CHAR" />
    <result column="fps" property="fps" jdbcType="INTEGER" />
    <result column="minSendKbps" property="minsendkbps" jdbcType="INTEGER" />
    <result column="maxSendKbps" property="maxsendkbps" jdbcType="INTEGER" />
    <result column="gop" property="gop" jdbcType="INTEGER" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resolution, fps, minSendKbps, maxSendKbps, gop, project, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List"/>
    from sd_corp_mcu_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByProject" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from sd_corp_mcu_config
    where project = #{project,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sd_corp_mcu_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.openvidu.server.common.pojo.CorpMcuConfig" >
    insert into sd_corp_mcu_config (id, resolution, fps, 
      minSendKbps, maxSendKbps, gop, 
      project, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{resolution,jdbcType=CHAR}, #{fps,jdbcType=INTEGER}, 
      #{minsendkbps,jdbcType=INTEGER}, #{maxsendkbps,jdbcType=INTEGER}, #{gop,jdbcType=INTEGER}, 
      #{project,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.openvidu.server.common.pojo.CorpMcuConfig" >
    insert into sd_corp_mcu_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resolution != null" >
        resolution,
      </if>
      <if test="fps != null" >
        fps,
      </if>
      <if test="minsendkbps != null" >
        minSendKbps,
      </if>
      <if test="maxsendkbps != null" >
        maxSendKbps,
      </if>
      <if test="gop != null" >
        gop,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resolution != null" >
        #{resolution,jdbcType=CHAR},
      </if>
      <if test="fps != null" >
        #{fps,jdbcType=INTEGER},
      </if>
      <if test="minsendkbps != null" >
        #{minsendkbps,jdbcType=INTEGER},
      </if>
      <if test="maxsendkbps != null" >
        #{maxsendkbps,jdbcType=INTEGER},
      </if>
      <if test="gop != null" >
        #{gop,jdbcType=INTEGER},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.openvidu.server.common.pojo.CorpMcuConfig" >
    update sd_corp_mcu_config
    <set >
      <if test="resolution != null" >
        resolution = #{resolution,jdbcType=CHAR},
      </if>
      <if test="fps != null" >
        fps = #{fps,jdbcType=INTEGER},
      </if>
      <if test="minsendkbps != null" >
        minSendKbps = #{minsendkbps,jdbcType=INTEGER},
      </if>
      <if test="maxsendkbps != null" >
        maxSendKbps = #{maxsendkbps,jdbcType=INTEGER},
      </if>
      <if test="gop != null" >
        gop = #{gop,jdbcType=INTEGER},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.openvidu.server.common.pojo.CorpMcuConfig" >
    update sd_corp_mcu_config
    set resolution = #{resolution,jdbcType=CHAR},
      fps = #{fps,jdbcType=INTEGER},
      minSendKbps = #{minsendkbps,jdbcType=INTEGER},
      maxSendKbps = #{maxsendkbps,jdbcType=INTEGER},
      gop = #{gop,jdbcType=INTEGER},
      project = #{project,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByProject" parameterType="io.openvidu.server.common.pojo.CorpMcuConfig">
    update sd_corp_mcu_config
    set resolution = #{resolution,jdbcType=CHAR},
      fps = #{fps,jdbcType=INTEGER},
      minSendKbps = #{minsendkbps,jdbcType=INTEGER},
      maxSendKbps = #{maxsendkbps,jdbcType=INTEGER},
      gop = #{gop,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where project = #{project,jdbcType=VARCHAR}
  </update>
</mapper>